<h2>Daily Tasks:</h2>
<div class="tasks">
    <a href="#" class="tasks__item _grey">
        <div>Daily astromeditation</div> 
        <div class="tasks__counter">
            <span>3</span>
            <span class="material-symbols-outlined">
                public
            </span> 
        </div>           
    </a>
    <a href="#" class="tasks__item _pink"> 
        <div>Daily sleep astromeditation</div> 
        <div class="tasks__counter">
            <span>1</span>
            <span class="material-symbols-outlined">
                public
            </span> 
        </div>                 
    </a>
    <a href="#" class="tasks__item _green">
        <div>Daily mantra </div> 
        <div class="tasks__counter">
            <span>2</span>
            <span class="material-symbols-outlined">
                public
            </span> 
        </div>  
    </a>
    
</div>
<div class="progress">
    <h3 class="progress__title">Your overall progress is <span>60%</span></h3>
    <div class="progress__line">
        <div class="progress__bar"></div>
    </div>
</div>


