<h2>Daily Tasks:</h2>
<div class="tasks">
    <a href="#" class="tasks__item _grey" (click)="counter = '20'">
        <div>Daily astromeditation</div> 
        <div class="tasks__counter">
            <span>3</span>
            <span class="material-symbols-outlined">
                public
            </span> 
        </div>           
    </a>
    <a href="#" class="tasks__item _pink" (click)="counter = '50'"> 
        <div>Daily sleep astromeditation</div> 
        <div class="tasks__counter">
            <span>1</span>
            <span class="material-symbols-outlined">
                public
            </span> 
        </div>                 
    </a>
    <a href="#" class="tasks__item _green" (click)="counter = '99'">
        <div>Daily mantra </div> 
        <div class="tasks__counter">
            <span>2</span>
            <span class="material-symbols-outlined">
                public
            </span> 
        </div>  
    </a>
    
</div>
<app-progress [value] = "counter"></app-progress>
 <!-- value это вариабл, мы передаем это значение в текст. см также .ts .scss -->



