@import 'index';
.accordion{
    margin-top: 4rem;
    @include flex-between;
    h3 {
        font-size: 2.4rem;
    } 
    .material-symbols-outlined {
        transition: $transition;
    }
    &._active {
        color: $color-red;
        .material-symbols-outlined {
            transform: rotate(180deg);
        }
    }   
}
p {
    font-size: 1.6rem;
}
.error {
    color: red;
    font-size: 1.2rem;
    margin-top: 8px;
    text-align: right;    
}
input {
    margin-top: 2rem;
    width: 100%;
    border-radius: 8px;
    padding: 10px 15px;
    border: 0;
    outline: 0;
    background: $color-violet-bg;
    color: $color-violet-dark;
    font-size: 1.4rem;
}