<app-user-info></app-user-info>
<app-qualities></app-qualities>
<app-reports></app-reports>
<div class="input">
    <input [(ngModel)]="name" type="text" placeholder="Enter your name">
    <div *ngIf="name.length < 4" class="error">Name should be more than 3 symbols</div>
    <div *ngIf="!name" class="error">Name cannot be empty</div>
</div>

<div class="accordion" [class._active]="toggle" (click)="toggle=!toggle">
    <h3>Accordion</h3>
    <span class="material-symbols-outlined">
        expand_more
    </span>
</div>

<p *ngIf="toggle" [@openClose]="toggle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit aliquam dolorem perferendis quae provident, modi in! Itaque labore asperiores similique doloribus placeat voluptas quibusdam velit!</p>
