@import 'index';
:host {
    display: block;
    margin-top: 1.5rem;
}
.progress {
    &__title {
        @include text ($ff, 1.8rem, 2.1rem, 300, $color-titles);
        padding-bottom: 1.2rem;
        span {
            color: $color-pink;
        }
    }
    &__line {
        background: #FDF9FB;
        border-radius: 5px;
        height: 8px;
        position: relative;
    }
    &__bar {
        position: absolute;
        left: 0;
        width: 0%;
        // 0 потому что значение будет приходить от value
        height: 50%;
        transform: translateY(50%);
        background: $color-pink;
        border-radius: 5px;
        transition: $transition;
    }
}