$ff: 'Roboto', sans-serif;;

$color-black: #000;
$color-white: #fff;
$color-icons: #8B97A8;
$color-titles: #595085;
$color-violet-light: #61598B;
$color-violet-dark: #403572;
$color-violet-bg: #F6F5FB;
$color-red: #FF3726;
$color-red-bg: #FFF4F4;
$color-green: #479696;
$color-green-bg: #F5F9F9;
$color-pink: #C93F8D;
$color-pink-bg: #FDF9FB;


$transition: .2s all ease-in-out;

// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;